{% macro schemas(schemas) -%}
    <div id="schemas" class="mt-5">
        <h3 class="fw-light">Schemas</h3>
    </div>
    {# TODO: Remove this mock once real implementation done here and in mainContent #}
    <div id="schemaMockSchema" class="accordion">
        <div class="accordion-item">
            <button class="accordion-button collapsed shadow-none text-black bg-light" data-bs-toggle="collapse" data-bs-target="#schemaMockSchemaDetails">
                MockSchema
            </button>
            <div id="schemaMockSchemaDetails" class="accordion-collapse collapse bg-light">
                <div class="accordion-body">
                    <div class="row mt-2">
                        <div class="col-2">
                            <span class="fst-italic">Mock schema integer</span>
                        </div>
                        <div class="col d-flex flex-column">
                            <span class="small mb-2">
                                <strong>Integer</strong>
                                <span class="badge bg-success">0...100</span>
                            </span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2">
                            <span class="fst-italic">Mock schema string</span>
                        </div>
                        <div class="col d-flex flex-column">
                            <span class="small mb-2">
                                <strong>String</strong>
                                <span class="badge bg-success">Min Length: 10</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
